body {
    margin: 0%;
}

div {
    padding-left: 10px;
    height: 14.3%;
    color: #ffffff;
    font: 6.3vh Arial;
    vertical-align: middle;
    white-space: nowrap;
}

.color {
    text-align: right;
    padding-right: 10px;
}

#yu {
    background-color: #1d1d1d;
}

#ayumu {
    background-color: #ed7d95;
}

#kasumi {
    background-color: #e7d600;
}

#shizuku {
    background-color: #01b7ed;
}

#karin {
    background-color: #485ec6;
}

#ai {
    background-color: #ff5800;
}

#kanata {
    background-color: #a664a0;
}

#setsuna {
    background-color: #d81c2f;
}

#emma {
    background-color: #84c36e;
}

#rina {
    background-color: #9ca5b9;
}
